<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Poc.Pedidos.Properties.Settings.pocEntities" connectionString="Data Source=.\SQLExpress;Initial Catalog=poc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>